body {
  margin: 0%;
  text-align: center;
  background-color: black !important;
}

#main {
  overflow: hidden;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 1;
}
/* 0.48 */

/* top heading */
h1,
h2,
h3,
h4,
h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
/* top heading and contact */

.line {
  margin: 100px;
  width: 80px; /*64px*/
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(270deg, rgb(0, 0, 0) 0%, rgb(128, 128, 128) 100%);
}

.big-heading p {
  color: whitesmoke;
  padding-left: 100px;
}

.big-heading h1 {
  color: whitesmoke;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
}

/* navbar and contact */
a {
  font-family: "Montserrat", sans-serif;
}
/* navbar and contact */

/* top-heading */
.name {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-top: 150px;
  margin-left: 100px;
}

#title {
  text-align: left;
  background-color: #000000;
}

/* top heading */

/* containers */
/* top heading and container */

/* top heading and contact */
.container-fluid {
  padding: 3% 15% 18%;
}

/* containers */

/* navbar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  color: blanchedalmond;
  text-decoration: none;
  padding-left: 60px;
}
.nav-item {
  padding: 0 18px;
  color: white;
  text-decoration: none;
}

.nav-link {
  transition: transform 0.3sec;
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.nav-link:hover {
  transform: translateY(-5px);
}

/* navbar  */

/* about */
#about {
  padding-top: 0%;
}

#about p {
  padding-bottom: 30px;
  text-align: left;
}

/* .yellow{
    color: #ebee00;
} */
.who {
  font-family: "Frank Ruhl Libre", serif;
  color: #00ebeb;
}

#about h1,
h5 {
  margin-left: 100px;
  text-align: left;
}

.content p {
  margin-left: 100px;
}

.quote {
  color: #00ebeb;
  margin-left: 450px;
}

/* about  */

/* skills */

#skills {
  background-color: black;
}

#skills .row {
  display: flex;
  justify-content: space-evenly;
}

.skillsofmine p {
  color: white;
  padding-bottom: 4%;
}

.skillsofmine h1 {
  font-family: "Frank Ruhl Libre", serif;
  color: lightseagreen;
}

/* .feature-title{
    color: yellowgreen;
} */

.size {
  font-size: 3rem;
  display: block;
}

.color {
  color: white;
  transition: transform 0.3s;
}

.color:hover {
  color: yellow;
  transform: translateY(-5px);
}

.feat p {
  color: #78dec7;
  padding-bottom: 10%;
}
/* skills */

/* projects */

#projects h1 {
  font-family: "Frank Ruhl Libre", serif;
  color: lightseagreen;
  padding-bottom: 50px;
}

#projects .row {
  display: flex;
  justify-content: center;
}

.picsize {
  border: 2px solid none;

  border-radius: 25px;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.zoom {
  border: 2px solid none;
  border-radius: 25px;
  margin: 20px;
  height: 300px;
  overflow: hidden;
}

.zoom .picsize {
  transition: transform 1s, filter 0.5s ease-out;
}

.zoom :hover .picsize {
  /* transform-origin: 65% 75%; */
  transform: scale(2);
}

/* contact */

#contact {
  background-color: black;
}

.social-icon {
  color: whitesmoke;
  padding-top: 0%;
  margin: 10px 10px;
  transition: transform 0.3s;
}

.social-icon:hover {
  transform: translateY(-5px);
  color: blueviolet;
}

.last-container {
  padding: 2% 5% 6%;
}

/* contact */

/* images */
/* .gif{
    position: absolute;
}

.index-manage{
    position: relative;
} */
/* about */
/* .aboutme{
    width: 500px;
    height: auto;
}
.aboutme{
    width: 500px;
    height: auto;
} */
/* about */

@media (max-width: 1028px) {
  /* body{
        font-size: 1.2rem;
    } */
  #title h1 {
    margin-left: 300px;
    margin-right: 100px;
  }
  #title p {
    margin-left: 300px;
    margin-right: 100px;
  }
  #about h1,
  h5 {
    text-align: center;
    margin-right: 100px;
  }
  #about p {
    text-align: center;
    margin-right: 100px;
  }

  .zoom {
    margin: 40px;
  }
}
